@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color: #fff;
  --secondary-color: #141414;
  --tertiary-color: #c589e8;
  --font-color: #3f3f3f;
  --selection-color: rgba(206, 206, 206, 0.8);
}

body {
  min-height: 100vh;
  transition: 1.5s;
  background-color: var(--secondary-color);
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.intro h1 {
  color: #fff;
  font-size: 40px;
}
.intro button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  border: none;
  background-color: #fff;
}
.intro button:hover {
  background-color: #fff;
}
.intro button:active {
  transform: scale(0.95);
}

.pulse {
  position: relative;
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.pulse::before, .pulse::after {
  content: "";
  display: block;
  position: absolute;
  left: -15px;
  right: -15px;
  top: -10px;
  bottom: -10px;
  border-radius: 150px;
  border: 1px solid #fff;
  animation: pulse 1.5s linear infinite;
}
.pulse::after {
  animation-delay: -0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
html {
  font-size: 62.5%;
  user-select: none;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--selection-color);
}

.container {
  width: 100%;
  height: auto;
  font-family: "Consolas";
  display: none;
}

.menu-hamburger {
  width: 300px;
  height: 100vh;
  padding: 17rem 5rem;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -100%;
  transition: 0.3s ease-in-out;
}
.menu-hamburger .navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2.5rem;
  text-align: center;
}
.menu-hamburger .navigation a {
  text-decoration: none;
  border-bottom: 1px solid #222222;
  padding: 1rem;
  color: var(--primary-color);
}
.menu-hamburger .navigation a:hover {
  text-decoration: underline;
}
.menu-hamburger .navigation .switch-theme-button {
  margin-top: 1rem;
  color: var(--primary-color);
}
.menu-hamburger .navigation .switch-theme-button .toggle-wrapper {
  margin-right: 2rem;
}
.menu-hamburger .navigation .switch-theme-button p {
  font-size: 2rem;
}

.switch-theme-button {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.slider {
  cursor: pointer;
  background-color: #000;
  width: 41px;
  height: 22px;
  border-radius: 2rem;
  position: relative;
  border: 1px solid var(--primary-color);
}

#switch-theme {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  pointer-events: none;
  top: 3px;
  left: 3px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.toggle-input:checked ~ .slider {
  background-color: #fff;
}

.toggle-input:checked ~ .slider > #switch-theme {
  background-color: #000;
  left: 22px;
}

.toggle-input {
  display: none;
}

.section {
  width: 100%;
  min-height: 100vh;
  padding: 5rem;
}

.title {
  font-size: 3rem;
}

.paragraph {
  font-size: clamp(1.3rem, 5vw, 2rem);
  user-select: text;
}

.button {
  margin-top: 15px;
  padding: 1rem 4rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Consolas";
  cursor: pointer;
}

header {
  width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo h1 {
  text-decoration: underline;
  color: var(--secondary-color);
  font-family: Poppins;
}
header .navigation {
  display: flex;
}
header .navigation a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 2.3rem;
  margin-left: 25px;
  position: relative;
}
header .navigation a::after {
  content: "";
  position: absolute;
  bottom: -1.5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--secondary-color);
  transition: 0.3s;
}
header .navigation a:hover::after {
  width: 100%;
}
header .hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2;
}
header .bar {
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}
header .change .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 8px);
}
header .change .bar:nth-child(2) {
  opacity: 0;
}
header .change .bar:nth-child(3) {
  transform: rotate(45deg) translate(-4px, -8px);
}
header .change-bar-theme {
  background-color: var(--primary-color) !important;
}

.about-me .about-me-container {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.about-me .text-content {
  width: 50%;
}
.about-me .text-content p {
  color: var(--font-color);
  text-align: justify;
}
.about-me .text-content h1 {
  margin-bottom: 15px;
  color: var(--secondary-color);
}
.about-me .text-content .media-links {
  display: flex;
  gap: 15px;
}
.about-me .text-content .media-links .github-button,
.about-me .text-content .media-links .linkedin-button {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.about-me .text-content .media-links .github-button img,
.about-me .text-content .media-links .linkedin-button img {
  width: 20px;
}
.about-me .text-content .media-links .github-button p,
.about-me .text-content .media-links .linkedin-button p {
  color: var(--primary-color);
}
.about-me .image-content img {
  width: 300px;
  height: 330px;
  border-radius: 33% 67% 48% 52%/54% 39% 61% 46%;
  animation: imageAnimation 10s infinite ease-in-out;
  border: 2px solid var(--secondary-color);
  transition: 0.3s;
}

.projects {
  background-color: blue;
}

.technologies {
  background-color: green;
}

.contact {
  background-color: red;
}

.have-fun {
  background-color: yellow;
}

@keyframes imageAnimation {
  0% {
    border-radius: 71% 29% 55% 45%/54% 56% 44% 46%;
  }
  25% {
    border-radius: 21% 79% 26% 74%/69% 19% 81% 31%;
  }
  50% {
    border-radius: 55% 45% 58% 42%/44% 76% 24% 56%;
  }
  75% {
    border-radius: 28% 72% 51% 49%/60% 46% 54% 40%;
  }
  100% {
    border-radius: 71% 29% 55% 45%/54% 56% 44% 46%;
  }
}
@media (min-width: 1023px) {
  .hamburger {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  header {
    padding: 2rem;
  }
  .about-me .navigation {
    display: none !important;
  }
  .about-me-container {
    padding: 0 !important;
    flex-wrap: wrap-reverse;
  }
  .about-me-container .text-content {
    width: 100%;
    text-align: center;
  }
  .about-me-container .text-content a {
    width: 100%;
    padding: 1rem 2rem;
  }
}
@media (max-width: 425px) {
  .section {
    padding: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
