.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  white-space: nowrap;
  padding: 10px 0;
  gap: 10px;
}

.wrapper::-webkit-scrollbar {
  height: 4px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
  border-radius: 1px;
}