.newsList {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

.newsItem {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  background-color: rgba(14, 14, 14, 1);
}

.newsItem:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.newsItem img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.newsDetails {
  padding: 10px;
}

.newsDetails h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.newsDetails p {
  margin-bottom: 10px;
}

.newsDetails a {
  color: #007bff;
  text-decoration: none;
}

.newsDetails .source {
  color: #555;
  font-size: 0.8rem;
}
