@import "./root.css";
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #fff;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 0em;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::selection {
  background-color: #333;
}

body {
  background-color: var(--background-color);
  max-width: fit-content;
  height: 100dvh;
  padding: 50px;
  margin: 0 auto;
}

#root {
  max-width: 1000px;
}

.cursor {
  background: none;
  border: 1px solid #c6c6c6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.background-title {
  font-family: 'Kalnia';
  font-size: 170px;
  position: fixed;
  left: 0;
  bottom: 0;
  color: rgba(255, 255, 255, .05);
  user-select: none;
  z-index: -1;
}

.title {
  color: #e1e1e1;
  font-size: 50px;
  max-width: fit-content;
}

.subtitle {
  color: #e1e1e1;
  font-size: 20px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.paragraph {
  color: var(--text-color);
  font-size: 13px;
  user-select: text;
  text-align: justify;
}

.paragraph:hover .cursor {
  width: 12px;
  height: 12px;
}

@media (max-width: 425px) {
  body {
    padding: 30px 20px;
  }
  .background-title {
    font-size: 90px;
  }
}