@import "../../../stylesheets/root.css";

.wrapper {
  color: var(--text-color);
  text-decoration: none;
  font-size: 11px;
  position: relative;
}

.wrapper > svg {
  position: absolute;
  bottom: -4px;
  transition: all 200ms ease-in-out;
  animation: arrow-move 1s infinite linear;
}

@keyframes arrow-move {
  0% {
    transform: translate(5px);
  }
  50% {
    transform: translate(1px);
  }
  100% {
    transform: translate(5px);
  }
}